*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "mid";
    grid-template-rows: 2fr;
    grid-template-columns: fr 3fr;
}
.left{
    background:aliceblue;
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    background: aqua;
    grid-area: mid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.tabelka, td, tr{
    border: black 2px solid;
    background: lemonchiffon;
    border-collapse: collapse;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
